body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  margin: 10px auto;
  background-color: #fae5d3;
}
a {
  color: #117a65;
}
.weather-app {
  background-color: white;
  max-width: 95%;
  margin: 10px auto;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.8);
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;
}

.current-weather-icon {
  display: flex;
  width: 95px;
  height: 100px;
}
.current-temperature {
  display: flex;
  font-size: 1.5em;
}
.current-daytime {
  display: flex;
}
h1 {
  padding: 0px;
  margin: 5px;
  text-align: center;
  line-height: 40px;
  color: #117a65;
  display: block;
  text-align: center;
  font-size: 2.5rem;
  justify-content: center;
}
header {
  border-bottom: 1px solid #fae5d3;
  padding: 0 0 10px 0;
}
.search-form-input {
  background-color: #fbfaf8;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 18px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #117a65;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
}
.search-form-button:hover {
  background-color: #eb984e;
}
footer {
  border-top: 1px solid #eb984e;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(237, 220, 166, 0.06);
  text-wrap: wrap;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: black;
}
li {
  color: black;
  padding: 10px;
}
img {
  width: 40px;
  height: 40px;
}
strong {
  color: #117a65;
  font-weight: bold;
}
